.single{
    padding: 4px 16px;
    background:#ebe1d5;
    margin: 20px 10px;
    font-family: Cursive;
    color : black;
    display: grid;
}

.single:hover{
    border-radius: 5px;
}

#cont{
    color: rgb(0, 0, 0);
    margin-top: 30px;
    text-align:justify;
    border-radius: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: cursive;
    background-color: rgb(231, 230, 230);
}

.heading{
    text-align: center;
    margin : 20px;
    font-family: cursive;
}

.mycustom {
    background-color: #a08d8d00;
    box-shadow: 2px 5px 5px rgb(229, 235, 236);
  }

#inp{
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin-left: auto;
    margin-right: 10px;
  }

#con{
    display: flex;
    justify-content: flex-end;
}

#ctitle{
    text-align: center;
}

#bt{
    float: right;
}

.form{
    height: 24em; 
    background: rgb(243, 243, 243);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    border-radius: 7px;
    width: 27%;
    padding:20px;
}

.inline{
    display: flex;
}

#p{
    padding-top: 15px;
    padding-left: 6px;
}

#l{
    float: right;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover {
    color: rgb(119, 99, 99);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .body {
    width: 50%;
    padding: 20px;
    box-shadow: 0px 0px 10px #c0afaf;
    border-radius: 5px;
    background-color: #ffffff;
  }
  

  .formGroup {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .formGroup label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e9e6e6;
    border-radius: 5px;
  }
  
.background{
    background-image: url("../public/Food.png");
    background-size: auto;
    
}
.bottomright {
    position: absolute;
    bottom: 117px;
    right: 10px;
  }

  
.bord{
    border:'transparent'
}
.bord:hover{
    border:rgb(0, 0, 0);
}

